h1 {
  font-family: "Cinzel";
  font-size: 96px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
h2 {
  font-family: "Playfair Display";
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  line-height: normal;
}
