body {
  background-color: #092c0b;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/images/marek-piwnicki-JomonSugi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 263px;
  padding-bottom: 293px;
}
header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 5px;
  margin-bottom: 0px;
}

h1 {
  font-family: "Cinzel";
  font-size: 96px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0px;
}
header h2 {
  font-family: "Playfair Display";
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 0px;
}

header a {
  color: #092c0b;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  text-decoration: none;
  padding: 16px 32px;
  display: inline-block;
  border-radius: 2px;
}
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 64px;
}
footer {
  color: white;
  background-image: linear-gradient(rgba(6, 28, 7, 0.8), rgba(6, 28, 7, 0.8)),
    url("/images/marek-piwnicki-forestpath.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 171px 92px;
}

footer h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0px;
}
footer p {
  opacity: 0.6;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer a {
  text-decoration: none;
  color: white;
  opacity: 0.6;
  transition: all 200ms ease-in-out;
}
footer a:hover {
  opacity: 1;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0 90px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  header a {
    font-size: 7px;
    padding: 8px 16px;
    letter-spacing: 2px;
  }
  .footer-grid {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
  footer {
    padding: 30px;
  }

  footer h4 {
    font-size: 14px;
  }
  footer li {
    font-size: 12px;
  }
  footer p {
    font-size: 12px;
  }
}
